@import '../../../../helper-vue-components/src/IconLinks/ButtonIconLink2/Style.scss';
@import '../../globals.scss';

.btn-dark {
    color: $baseColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
}
.btn-dark:hover {
    background-color: white;
    border-color: white;
}