section.px-lg-3
    .container 
        .row 
            .col-md-12.col-lg-6
                ediwheel-main-number-text-content.first-text-content(
                    v-bind:title='first_number_infos.title'
                    v-bind:content='first_number_infos.number'
                )
                ediwheel-main-number-text-content.second-text-content(
                    v-bind:title='second_number_infos.title'
                    v-bind:content='second_number_infos.number'
                )
