@import "../../globals";

.nav-link, .badge {
    font-family: $secondaryFontFamily;
    font-weight: bold;
    font-size: 0.95rem;
    color: $primaryColor;
    letter-spacing: 0.0625em;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link {
    margin-right: 1rem;
}
.nav-link.active, .nav-link:hover, .badge:active, .badge:hover {
    color: white;
}
