.timeline {
    position: relative;
    margin-bottom: 3rem;
    list-style: none;
    z-index: 1;
}
@media (max-width: 991.9px) {
    .timeline {
        padding: 0 1rem;
    }
}
@media (min-width: 992px) {
    .timeline {
        padding: 0 3rem;
    }
}
@media (min-width: 1200px) {
    .timeline {
        padding: 0 7rem;
    }
}
