@import "la75-vue-components/globals.scss";

.title {
    @extend .primary-text;
    color: $baseColor;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.content {
    margin-top: 0;
}
.text-content {
    margin-bottom: 1rem;
}