.faq
    .container
        .row.justify-content-center
            .col-12.col-sm-8
                dynamic-component(
                    v-bind:component_infos='title_section'
                )
        .row.justify-content-center
            .col-12.col-sm-10.col-lg-8
                .items
                    dynamic-component(
                        v-for='item_section in item_sections'
                        v-bind:component_infos='item_section'
                    )
