@import '../globals.scss';
@import '../../../helper-vue-components/src/IconLinks/ButtonIconLink/Style.scss';

.btn-social {
    background-color: $baseColor;
}
.btn-social:hover {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
}
