@import "la75-vue-components/globals.scss";

@media (min-width: 768px) {
    .page-section {
        padding: 9rem 0;
    }
}
@media (max-width: 768px) {
    .page-section {
        padding: 6rem 0;
    }
}
.page-section {
    background-color: #111519;
    background-image: url("./map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btn, .btn:disabled {
    color: $baseColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
}
.btn-xl {
    padding: 1.25rem 2.5rem;
    font-family: $secondaryFontFamily;
    font-size: 1.125rem;
    font-weight: 700;
}
