section.page-section(v-bind:id='id')
    .container
        dynamic-component(
            v-bind:component_infos='title_section'
        )
        form(
            v-bind:action='url'
            v-bind:method='method'
            v-on:submit='submitForm'
        )
            csrf-input
            .row.align-items-stretch.mb-5
                .col-md-6
                    dynamic-component(
                        v-for='formItemSection in leftFormItemSections'
                        v-bind:component_infos='formItemSection'
                    )
                .col-md-6
                    dynamic-component(
                        v-for='formItemSection in rightFormItemSections'
                        v-bind:component_infos='formItemSection'
                    )
            .text-center
                button.btn.btn-primary.btn-xl(
                    type='submit'
                    v-bind:disabled='submitted'
                ) {{ button_title }}
