@import "../../globals";

.title {
    color: $secondaryColor;
    font-family: $primaryFontFamily;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1rem;
}
.content {
    @extend .secondary-text;
    color: $secondaryColor !important;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 4rem;
}
