@import "../../globals.scss";

.footer {
    text-align: center;
    font-size: 1.1rem;
    font-family: $secondaryFontFamily;
    background-color: $baseColor;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.row {
    align-items: center;
}

.copyright {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: $primaryFontFamily;
    line-height: 20px;
}
@media (min-width: 992px) {
    .copyright {
        text-align: left !important;
    }
}
@media (max-width: 992px) {
    .copyright {
        text-align: center !important;
    }
}

@media (min-width: 992px) {
    .icon_link_container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
@media (max-width: 992px) {
    .icon_link_container {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

@media (min-width: 992px) {
    .right-link-container {
        text-align: right !important;
    }
}
@media (max-width: 992px) {
    .right-link-container {
        text-align: center !important;
    }
}