section#team.page-section.bg-light
    .container
        dynamic-component(
            v-bind:component_infos='title_section'
        )
        .row.justify-content-center
            .col-lg-4.col-md-6(v-for='member in member_sections')
                dynamic-component(
                    v-bind:component_infos='member'
                )
        .row
            .col-lg-8.mx-auto.text-center
                p.large.text-muted
                    | {{ footer_text }}
